*,::after,::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body{
    margin: 0 100px;
    background-color: rgb(227, 195, 216);
}

.nav{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 0;
}

.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(162, 18, 18);
}
 
.nav .logo b{
    color: rgb(244, 110, 27);
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    margin-right: 30px;
}

.nav ul li a{
    text-decoration: none;
    color:rgb(50, 6, 6);
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}

.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: rgb(119, 26, 133);
    display: flex;
    position: relative;
    margin-left: 10px;
}

input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}

.signin{
    background: transparent;
    border:none;
}

.signup{
    background-color: rgb(193, 16, 119);
    color: azure;
    outline:none;
    border:none;
    border-radius: 5px ;
}

.content{
    display: grid;
    grid-template-columns: 50% auto;
    gap:30px;
    margin-top: 120px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.content .content-left{
    display:block;
    width: 100%;
}

.content .content-left .info{
    max-width: 100%;
    display:flex;
    flex-direction: column;
}

.content .content-left .info h2{
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.content .content-left .info p{
    font-size:23px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.content .content-left button{
    padding: 10px 23px;
    background-color: rgb(193, 16, 119);
    columns: white;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}

.content .content-right{
    display:block;
    width:100%;
}

.content .content-right img{
    width: 460px;
    height: 380px;
    position:relative;
    animation: rotate 10s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotajte(0deg);
    }
    100%{
        transform: rotakjte(360deg);
    }
}

.category{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content:center;
}

.category .list-items{
    width:90%;
    position:relative;
    margin-top:50px;
}

.category .list-items h3{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
    width: 400px;
}

.category .list-items .card-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.category .card-list .card{
    width:200px;
    height:auto;
    display:block;
    padding: 10px;
    border-radius: 10px;
    position:relative;
    background:whitesmoke;
    outline:2px solid #f0dded;
}

.category .card-list .card img{
    width: 90px;
    height:85px;
    bottom: 100px;
    left:53px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: 0 20px 20px #f0dded;
    border-radius: 50%;
}

.category .card-list .card .food-title{
    padding: 40px 0 10px;
}


.category .card-list .card .food-title h1{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;  
}

.category .card .desc-food p{
    font-size: 13px;
    text-align: center ;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.category .card .price{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.category .card .price span .plus-icon{
    color: rgb(211, 22, 177);
    font-size: 20px;
    cursor:pointer;

}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(190, 43, 124);
}


